body{
  margin:0;
  padding: 0;
  list-style: none;
  background: #eee;
  color: #333;
}
footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
  opacity: 1;
  z-index: 99;
}

footer ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #fff;
}

footer li{
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 0;
  margin: 0;
}

footer li button{
  width: 100%;
  height: 3em;
  background-color: #ffffff;
}

dialog[open]{
  border: none;
  border-radius:0.5rem;
  box-shadow: 0 4px 16px rgba(0 0 0 / 16%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width:20rem;
  align: center;
}
dialog input{
  width: 10rem;
  text-align: center;
}

